
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <p>Name: <%- name %> </p>
        <p>Email: <%- email %></p>
        <p>Status: <%- status %></p>
        <p>Gender: <%- gender %></p>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->